.dashboard-parent-div{
	background-image: url('../assets/the-wall.png');
	padding: 2em;
}
.dashboard_list{
	margin-bottom: 5em;
	background-color: black;
	padding: 1em;
	border-radius: 2em;
	opacity: 93%;
}

.list-edit-button {
	padding: .1em;
	margin-left: 1em;
	margin-top: .5em;
}

.list-delete-button {
	padding: .1em;
	margin-left: 1em;
	margin-top: .5em;
}

.todo_badge{
	margin-bottom: 1em;
	margin-top: .8em;
	margin-right: 1em;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.trash-icon{
	display: none;
	margin-left: .5em;
	color: white;
}

.todo-item:hover .trash-icon {
  display: inline-block; /* Display the trash icon on hover */
}

.todo-item:hover .trash-icon:hover {
  color: red; /* Change the color or add other styles */
}

.quantity-input{
	background-color: black;
	color: white;
	border-radius: .5em;
	margin-bottom: .2em;
	margin-right: 1em;
	margin-left: 1em;
	width: 3.65em;
}