html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-brand{
  margin-left: 1rem;
  color: yellow;
  text-shadow: rgb(131, 131, 131) 1px 1px;
}
.lists{
  margin-left: 1rem;
}

.lists:hover{
  color: yellow;
}

.dashboard{
  margin-left: 1rem;
}

.dashboard:hover{
  color: yellow;
}

.user-icon{
  margin-right: 1rem;
}

.signout-link{
  margin-right: 1rem;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: black;
  color: #ffffff;
  justify-content: center;
}


