html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.navbar-brand{
  margin-left: 1rem;
  color: yellow;
  text-shadow: rgb(131, 131, 131) 1px 1px;
}

.navbar-toggler {
  flex: none;
}

.nav-link {
  margin-left: 1rem;
}

.links:hover{
  color: yellow;
}


.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: black;
  color: #ffffff;
  justify-content: center;
  margin-top: auto;
}


